version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: YOUR_USERNAME
      POSTGRES_PASSWORD: YOUR_PASSWORD
      POSTGRES_DB: YOUR_DATABASE_NAME
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  backend:
    image: collabsphere-backend
    container_name: backend
    restart: unless-stopped
    depends_on:
      - postgres
    env_file:
      - server/.env
    expose:
      - "3001"

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
    - "8443:443"   # HTTPS
    - "8080:8080"  # HTTP redirect (optional)

    depends_on:
      - backend
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./docker/nginx/certs:/etc/nginx/certs:ro
